@CHARSET "UTF-8";

* {
	text-shadow: none !important;
}

/*----------------------------------------------------------- Initialize ----------------------------------------------------------------*/
/*Reset*/
html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
	blockquote, p, address, pre, cite, form, fieldset, input, textarea,
	select, table, th, td {
	padding: 0;
	margin: 0
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	color: #666;
}

ul, ol {
	list-style-type: none;
}

a:link, a:hover, a:visited, a:active, a:focus {
	text-decoration: none;
}

a {
	font-size: 15px;
	color: #666;
	text-decoration: none;
}

/*----------------------------------------------------------- Layout ----------------------------------------------------------------*/
/*Wrap*/
html {
	overflow-y: scroll height: 100%
}

html.ovf_hdn, body.ovf_hdn {
	overflow-y: hidden
}

body {
	font-size: 15px;
	line-height: 1;
	color: #666;
}
.nav-header {
	margin-top: 0.5%;
}
#input-site-search {
	border: none;
	width: 500px;
	margin-top: 5;
}
/*Header*/
#header {
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 120;
	min-height: 10%;
	border-bottom: 0;
	z-index: 203;
	background-color: #fff;
}

#header.fixed {
	width: 100%;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
}

.inhead {
	position: relative;
	max-width: 980px;
	padding: 0 15px;
	margin: 0 auto;
	z-index: 10
}

.ilan { /*background-position:0 0*/
	width: auto !important;
	font-size: 12px !important;
	line-height: 16px !important;
	background: none !important;
	text-indent: 0 !important
}

.ilogin {
	background-position: -21px 0
}

.ilogin.logged {
	background-position: -89px -168px
}
/*Header > Top Navigation*/
.top_navi {
	position: absolute;
	right: 15px;
	top: 16px;
	*z-index: 10
}

.t_link {
	overflow: hidden;
	float: left;
	font-size: 12px;
	margin-right: 15px
}

.t_link li {
	float: left;
	line-height: 16px;
	margin-left: 10px
}

.t_link li:first-child {
	margin-left: 0
}

.t_link li a {
	color: #444
}

.t_link li .badge {
	display: inline-block;
	vertical-align: middle;
	margin: -2px 0 0 5px;
	padding: 0 5px;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.02em;
	line-height: 15px;
	color: #fff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #0079cf
}

.t_ctr {
	position: relative;
	float: left; /*width:47px;*/
	z-index: 10
}

.t_ctr li {
	position: relative;
	float: left;
	height: 16px;
	border-left: 1px solid #ccc;
	margin-left: 7px;
	padding-left: 7px
}

.t_ctr li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0
}

.t_ctr li a {
	display: inline-block;
	overflow: hidden;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	*text-indent: 0;
	*font-size: 0;
	*line-height: 0
}

.t_ctr .sel_lan, .t_ctr .sel_login {
	left: -119px;
	top: 26px;
}

.t_ctr .sel_lan {
	left: -89px
}

.t_ctr .sel_lan ul li, .t_ctr .sel_login ul li {
	float: none;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0
}

.t_ctr .sel_lan ul li a, .t_ctr .sel_login ul li a {
	width: auto;
	height: 100%;
	text-indent: 0;
	font-size: 14px;
	line-height: 35px;
}

.t_ctr .sel_login {
	left: -112px;
}

/*Header > global navigation*/
.gnb {
	border-top: solid 1px #ccc; position : absolute;
	left: 0;
	bottom: 2%;
	width: 100%;
	margin-right: 0;
	float: none;
	font-size: 14px;
	z-index: 1;
	position: absolute;
}

.ingnb {
	position: relative;
	margin: 0 20%;
}

.gnb_01 {
	display: inline-block;
	width: 100%;
}

.gnb_01>li {
	
	overflow: hidden;
	float: left; 
	margin-left:70px;
	font-size: 16px;
	padding: 0;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: -0.02em
}

.gnb_01>li:first-child {
	margin-left: 0px
}

.gnb_01>li>a {
	display: block;
	padding: 15px 70px 14px 0;
	height: 100%;
	line-height: normal;
	color: #333;
	white-space: nowrap
}

.gnb_01>li>a span {
	display: block; 
}

.gnb_01>li.on a, .gnb_01>li.active a {
	color: #0079cf;
}

.btn-default {
	margin-left: 10;
}

/* 프로필 이미지 */
.dropdown {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 25;
	top: 3;
	background-color: transparent;
	color: #fff;
	border-radius: 50%;
	border: none;
	font-size: 11px;
	padding: 5px 0;
	box-sizing: border-box;
}

.userImg {
	width: 50px;
	height: 50px;
	position: absolute;
	top: -6;
	right: 3;
	background-color: transparent;
	color: #fff;
	border-radius: 50%;
	border: none;
	font-size: 11px;
	padding: 5px 0;
	box-sizing: border-box;
}

.sch_box {
	position: absolute;
	right: 200px;
	top: 31px;
	height: 33px;
	z-index: 3
}

.insch {
	position: relative
}

/* 지우면 안됨 */
.sel_lan, .sel_login {
	display: none;
	position: absolute;
	left: 0;
	top: 36px
}
/*여기까지*/

/* 지우면 안됨*/

/* 지우면 안됨 */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}

@media ( min-width :768px) {
	.container {
		margin-top: 10px;
		width: 750px
	}
}
@media ( min-width :992px) {
	.container {
		margin-top: 10px;
		width: 970px
	}
}

@media ( min-width :1200px) {
	.container {
		margin-top: 10px;
		width: 1170px
	}
}
@media ( min-width :768px) {
	.ingnb {
		width: 750px
		
	}
}
@media ( min-width :992px) {
	.ingnb {
		width: 970px
		
	}
}
@media ( min-width :1200px) {
	.ingnb {
		width: 1170px
		
	}
}
/* 여기 */